
@{
    ViewBag.Title = "TinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="slider">
        <div class="Slider_image">
            <img class="sliderImg" src="https://www.watchstore.vn/images/slideshow/2024/05/17/compress/banner-xu-huong-dong-ho-2024-pc_1715942187.webp" alt="">

        </div>
    </div>
</div>

<div class="tt">
    <h4>MUA ĐỒNG HỒ TẠI SHOP SẼ ĐƯỢC BẢO HÀNH TẠI MỌI TRUNG TÂM CỦA HÃNG</h4>
</div>

<div class="tintuc">
    <h3>Quyền lợi về bảo hành khi mua đồng hồ tại đại lý bán lẻ uỷ quyền chính hãng:</h3>
    <p>
        Theo nguyên tắc, mọi chiếc đồng hồ chính hãng đều được hưởng bảo hành hãng từ 1-2 năm
        (tùy hãng), sau đó mới được hưởng thêm bảo hành của cửa hàng mà Quý khách chọn mua.<br>
        Nếu mua tại shop chúng tôi, sau khi hết hạn bảo hành của hãng, Quý khách sẽ được tặng thêm
        2-4 năm bảo hành tại Trung tâm bảo dưỡng của Hải Triều (tổng thời gian lên đến 5 năm).<br>
        Để giữ hoàn toàn quyền lợi cho Quý khách, trong thời gian còn bảo hành hãng,
        chúng tôi sẽ gửi đồng hồ lên hãng chứ tuyệt đối không mở máy đồng hồ. Bởi nếu
        đã có sự tác động của bất kỳ nơi sửa chữa nào bên ngoài, hãng sẽ từ chối bảo hành.<br>
        Do đó, bạn hoàn toàn có thể yên tâm 100% sẽ được bảo hành
        tại trung tâm của hãng trên toàn cầu.<br>
        Đồng hồ nhập khẩu chính ngạch, đóng thuế, phải qua kiểm định chất
        lượng khắt khe đến 2 lần mới đến tay quý khách. Đảm bảo 100% sản phẩm đều là hàng đẹp,
        loại 1.
    </p>
</div>

<div class="anhtintuc">
    <img class="sliderImg" src="~/Imgae/Img/tituc1.png" alt="">
</div>

<div class="tintuc">
    <h3>Cùng là đồng hồ, nhưng không phải cái nào cũng được bảo hành chính hãng. Tại sao?</h3>
    <p>
        Có rất nhiều khách hàng nhầm lẫn rằng:
        Đồng hồ được bán trên thị trường chỉ có 2 loại là hàng thật và hàng giả.
        Thực chất, đồng hồ đeo tay trên thị trường hiện nay được xếp thành 4 loại như sau:<br>
        1. Hàng giả, hàng nhái: Hoàn toàn không phải do thương hiệu sản xuất. Sử dụng những
        chất liệu và công nghệ kém hoàn thiện, giá thành rẻ, tuổi thọ ngắn. Tất nhiên sẽ
        không được bảo hành tại trung tâm của hãng.<br>
        2. Hàng xách tay (Grey market): Có thể thật, có thể giả, chất lượng khó kiểm định
        được tốt hay xấu. Nhưng chắc chắn không được hưởng bất kỳ chế độ bảo hành nào của hãng.
        Vì đây là sản phẩm do cá nhân mua đi bán lại, không chính thức và không được uỷ quyền từ hãng.<br>
        3. Hàng kém chất lượng: Đây là hàng thật nhưng chất lượng hoàn thiện kém.
        Chúng có thể xuất phát từ những đại lý nhỏ lẻ, đại trà, chưa có thâm niên hoặc
        là hàng tồn, bị lỗi và sửa lại để bán giảm giá.<br>
        4. Hàng chính hãng chất lượng cao: Hàng này phải có giấy chứng nhận uỷ quyền của hãng,
        có thẻ bảo hành quốc tế và được bảo hành tại bất kỳ Trung tâm bảo hành nào của hãng trên
        thế giới. Đặc biệt, chất lượng thuộc tầng cao nhất vì đã qua kiểm tra, sàng lọc kỹ lưỡng
        của đại lý uy tín.<br>
        Do vậy, Quý khách chỉ nên chọn mua hàng chính hãng chất lượng cao để hoàn toàn yên tâm
        trong suốt quá trình sử dụng sản phẩm.
    </p>
</div>

<div class="anhtintuc">
    <img class="sliderImg" src="~/Imgae/Img/tintuc2.png" alt="">
</div>

<div class="tintuc">
    <h3>Top 3 Thương HIệu Đồng Hồ Bán Chạy Nhất</h3>
    <h3>1. Thương hiệu đồng hồ Citizen - Hãng đồng hồ nổi tiếng xứ sở Mặt Trời Mọc</h3>
    <p>
        Citizen là một ví dụ điển hình về sự kết hợp hoàn hảo giữa thiết kế và công nghệ.
        Đồng hồ siêu mỏng của họ mang trong mình vẻ đẹp thanh lịch và tinh tế, với vỏ mỏng nhẹ
        và mặt số tối giản. Những chi tiết như cọc số và kim giờ được thiết kế tỉ mỉ, tạo nên một
        thước phim thời gian độc đáo và hiện đại.<br>
        <div class="anhtintuc">
            <img class="sliderImg" src="~/Imgae/Img/tintuc3.png" alt="">
            <p>
                Với hơn 100 năm kinh nghiệm, Citizen đã sáng tạo ra những phiên bản đồng hồ siêu
                mỏng chất lượng cao và độ chính xác, độ bền hoàn hảo nhờ kỹ thuật chế tác tiên tiên
                và quá trình kiểm tra nghiêm ngặt. Bằng việc sử dụng các vật liệu và công nghệ cao cấp,
                Citizen đảm bảo từng chiếc đồng hồ đạt tiêu chuẩn chất lượng cao nhất với khoảng giá hợp lý
                từ 3 - 10 triệu VNĐ. Hãng cũng chú trọng phát triển các dòng đồng hồ sử dụng năng lượng ánh
                sáng như Eco-Drive. Đây cũng là dòng sản phẩm chiếm ưu thế trong doanh số của Citizen qua từng năm.
            </p>
        </div>
    </p>
</div>

