
@using BCBTL.Models
@model List<BCBTL.ViewModel.DonghoNamViewModel>
@{
    ViewBag.Title = "DonghoNam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="slider">
    <div class="slider">
        <div class="Slider_image">
            <img class="sliderImg" src="https://www.watchstore.vn/images/slideshow/2024/05/17/compress/banner-xu-huong-dong-ho-2024-pc_1715942187.webp" alt="">

        </div>
    </div>
</div>

<div class="sanpham">
    <div class="spmoi">
        <h2>CHỌN ĐỒNG HỒ PHÙ HỢP</h2>
        <p>Chuyên cung cấp đa dạng các mẫu đồng hồ phông cách khách nhau</p>
    </div>

    <div class="sp row">
        @foreach (var item in Model)
        {
            <div class="anhsp">
                <a href="@Url.Action("ChiTietNu", "DonghoNu", new { maSP = item.MaSanPham })" title="Xem chi tiết">
                    <img src="~/Image/HinhAnh/@item.HinhAnh" alt="@item.TenSanPham">
                </a>
                <h4>@item.TenSanPham</h4>
                <div>
                    Giá bán:<strong>
                        @Html.FormatValue(item.Gia, "{0:#,###}")VNĐ
                    </strong>
                </div>
            </div>
        }
    </div>
</div>