<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body style="margin: 0; padding: 0; height: 100vh; overflow: hidden;">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-auto col-lg-auto col-sm-12 col-xs-12">
                <img src="~/Image/logo0.png" height="130" style="float: left; margin-right: 20px;" />
            </div>
            <div class="col-md col-lg col-sm-12 col-xs-12">
                <div style="font-size: 3.3em; font-family: 'Noto Serif', serif; color: #0000FF; text-shadow: 2px 2px 8px #0000FF;">CỬA HÀNG ĐỒNG HỒ TIMELESS</div>
                <div style="color: #09a4ba; font-style: italic; border-top: 1px dotted gray; padding-top: 10px;">
                    ***************************************************Mỗi Giây Là Một Kiết Tác***************************************************
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #0000FF;">
                        <div class="container-fluid">
                            @Html.ActionLink("Trang chủ", "Index", "QLDH", new { @class = "navbar-brand" })
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="mynavbar">
                                <ul class="navbar-nav me-auto">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link 1</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link 2</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Link 3</a>
                                    </li>
                                </ul>
                                <form class="d-flex">
                                    <input class="form-control me-2" type="text" placeholder="Search">
                                    <button class="btn btn-primary" type="button">Search</button>
                                </form>
                            </div>
                        </div>
                    </nav>
                    <section>
                        <div>
                            @RenderBody()
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <div class="container body-content">
            <footer style="background-color: black; color: white; padding: 40px 0">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <h4 style="color:sandybrown">VỀ TIMELESS,VN</h4>
                            <ul>
                                <li>Giới thiệu về TIMELESS</li>
                                <li>Phản ảnh - Khiếu nại</li>
                                <li>Chính sách đại lý</li>
                                <li>Tin tức cửa hàng</li>
                                <li>Đồng hồ bán nhiều</li>
                                <li>Kiến thức đồng hồ</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 style="color:sandybrown">CHÍNH SÁCH CHUNG</h4>
                            <ul>
                                <li>Điều khoản thanh toán</li>
                                <li>Chính sách bảo hành</li>
                                <li>Chính sách bảo mật</li>
                                <li>Chính sách vận chuyển</li>
                                <li>Chính sách đổi trả</li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h4 style="color:sandybrown">CỬA HÀNG HÀ NỘI</h4>
                            <p>
                                97 Trần Đại Nghĩa, HBT, Hà Nội<br>
                                Mở cửa: 8h30 - 22h30 | chỉ đường
                            </p>
                            <p>
                                58 Trần Đăng Ninh, Cầu Giấy, Hà Nội<br>
                                Mở cửa: 8h30 - 22h00 | chỉ đường
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h4 style="color:sandybrown">CỬA HÀNG TP.HCM</h4>
                            <p>
                                90 Lê Văn Sỹ, P.11, Phú Nhuận, HCM<br>
                                Mở cửa: 8h30 - 22h00 | chỉ đường
                            </p>
                            <p>
                                61 Quang Trung, P.10, Gò Vấp, HCM<br>
                                Mở cửa: 8h30 - 22h00 | chỉ đường
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <hr>
                            <p style="color: white;">&copy; 2020-2024 by TIMELESS.VN. Hotline: 093.189.2222 / Email: info@timeless.vn</p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>