
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="slider">
        <div class="Slider_image">
            <img class="sliderImg" src="https://www.watchstore.vn/images/slideshow/2024/05/17/compress/banner-xu-huong-dong-ho-2024-pc_1715942187.webp" alt="">

        </div>
    </div>
</div>

<div class="tt">
    <h4>ĐỊA CHỈ LIÊN HỆ</h4>
</div>

<table>
    <tr>
        <td class="anhcotphai"><img src="~/Imgae/Img/diachi1.png" alt=""></td>
        <td class="cotphai">
            <div class="col-6">
                <div class="info_product_chitiet">

                    <h1>
                        <span class="cn">Chi Nhánh:</span>
                        <span class="dc">200,P6, Cao Lãnh, Thành phố Cao Lãnh, Đồng Tháp</span>
                    </h1>

                    <h1>
                        <span class="cn">Hotline:</span>
                        <span class="dc">093 189 2222</span>
                    </h1>

                    <h1>
                        <span class="cn">Mail:</span>
                        <span class="dc">watchstore.donghotat@gmail.com</span>
                    </h1>

                    <h1>
                        <span class="cn">Bán Các Hãng:</span>
                        <span class="dc">CiTiZen, TiToNi, OlymPiaNus</span>
                    </h1>
                </div>

            </div>
        </td>
    </tr>
</table>