
@{
    ViewBag.Title = "TrangChuUser";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="slider">
        <div class="Slider_image">
            <img class="sliderImg" src="https://www.watchstore.vn/images/slideshow/2024/05/17/compress/banner-xu-huong-dong-ho-2024-pc_1715942187.webp" alt="">

        </div>
    </div>
</div>

<div class="tt">
    <h4>THÔNG TIN VỀ SẢN PHẨM</h4>
</div>

<table>
    <tr>
        <td class="cottrai">
            <h3>GMT‑Master II</h3>
            <p>
                Đồng hồ Rolex GMT-Master II 126718GRNR-0001 yellow gold
                - Mã mới 2023 là mẫu đồng hồ đến từ thương hiệu Rolex,
                có kích cỡ mặt số 40 mm dành cho các quý ông lịch lãm.
                Chiếc đồng hồ sử dụng bộ máy tự động có xuất xứ Thụy Sĩ,
                đồng hồ có thể vận hành trong thời gian dài, có độ bền và giá trị sưu tầm cao.
                Chất liệu vỏ được chế tác từ Vàng khối, chất liệu quý sang trọng nhất
                trong giới đồng hồ. Đồng hồ vàng khối luôn là khao khát của người chơi đồng hồ.
                Đồng hồ được trang bị dây kim loại bền bỉ, lịch lãm. Chất liệu kính làm
                từ Sapphire đem lại khả năng chống xước, chống lóa tuyệt vời.
                <br>Lần đầu tiên, GMT-Master II bằng thép Oystersteel
                được trang bị miếng đệm vành Cerachrom bằng gốm màu xám và đen
                được giới thiệu ở dòng sản phẩm này vào năm 2023. Hai phiên bản mới
                gồm: một phiên bản đi kèm dây đeo Oyster, phiên bản còn lại đi kèm dây đeo Jubilee.
                Kim 24 giờ màu xanh lá của chúng hiển thị nhiều hơn một múi giờ thay thế,
                nó chỉ giờ ở một địa điểm khác ấn tượng với người đeo – như một lời nhắc nhở
                về những cảm xúc đồng hành cùng mỗi du khách. <br>
                Các phiên bản mới của GMT-Master II được chế tác từ thép Oystersteel.
                Được sản xuất dành riêng cho Rolex, hợp kim này có khả năng chống ăn mòn và kháng va đập
                cao. Nó mang lại độ sáng vượt trội và giữ được độ bóng ngay cả khi đồng hồ tiếp xúc
                với những điều kiện khắc nghiệt nhất. Kim loại này tôn vinh đặc điểm định danh
                của mẫu đồng hồ vốn khi ra mắt chỉ có phiên bản chế tác từ chất liệu thép.
            </p>
        </td>
        <td class="anhcottrai"><img src="~/HinhAnh/CITIZEN ECO-DRIVE CA4590-81L.png" alt=""></td>
    </tr>
</table>

<table>
    <tr>
        <td class="anhcotphai"><img src="~/HinhAnh/citizen.png" alt=""></td>
        <td class="cotphai">
            <h3>ĐỒNG HỒ CITIZEN</h3>
            <p>
                Khởi nguồn của Citizen là đồng hồ hiệu chỉ dành riêng cho giới thượng lưu.
                Đến nay, hãng đã có gần 100 năm lịch sử phát triển và ngày càng phổ biến
                đến tất cả các tầng lớp xã hội trên thế giới.<br>
                Nguồn gốc của thương hiệu Citizen bắt đầu vào những năm 1918 nhưng đến năm 1924
                chiếc đồng hồ bỏ túi đầu tiên mang thương hiệu Citizen mới chính thức xuất hiện.
                Đến năm 1930, sau gần một thập kỷ Citizen mới chính thức thành lập công ty.<br>
                Tiền thân của Hãng đồng hồ Citizen là Viện nghiên cứu đồng hồ Shokosha.
                Cái tên Citizen được bắt nguồn do Thị trưởng của thành phố Tokyo,
                ông Shimpei Goto đặt tên cho. Ý nghĩa của từ Citizen trong tiếng anh là “thường dân”.
                Với mong muốn đồng hồ sẽ không còn là mặt hàng xa xỉ, chỉ dành cho giới thượng lưu nữa
                mà sẽ phổ biến rộng rãi đến với cả những người dân bình thường và được bán trên toàn thế giới.<br>
                Ngay những năm đầu thành lập, công ty đã có thể xây dựng nhà mày đầu tiên của mình .
                Hiện nay, công ty đã có hơn 18.000 nhân viên trên toàn thế giới và xuất khẩu sản phẩm
                của mình trên toàn cầu.<br>

            </p>
        </td>
    </tr>
</table>

<table>
    <tr>
        <td class="cottrai">
            <h3>ĐỒNG hồ  OLYM PIANUS 2024</h3>
            <p>
                Thiết kế của OLYM PIANUS 2024 mang phong cách cổ điển tinh tế, với các chi tiết như
                kim chỉ, vạch số và logo OLYM PIANUS được thiết kế rất tỉ mỉ. Mặt số có kích thước
                khoảng 40mm, vừa vặn với hầu hết các cổ tay. Vỏ và dây đeo được làm từ thép không gỉ
                cao cấp, vừa bền vừa sang trọng.<br>
                Bên trong, đồng hồ OLYM PIANUS 2024 sử dụng bộ máy cơ tự động chính hãng, với độ chính xác
                và độ bền cao. Ngoài ra, nó còn được trang bị các tính năng cơ bản như lịch ngày và kim giây.<br>
                Một điểm đáng chú ý nữa là khả năng chống nước lên đến 30m, giúp đồng hồ phù hợp với các hoạt động
                thông thường như rửa tay hay bơi lội ngắn.<br>
                Về mặt giá cả, OLYM PIANUS 2024 có mức giá tương đối phải chăng, phù hợp với nhiều đối tượng khách
                hàng đang tìm kiếm một chiếc đồng hồ đeo tay chất lượng với thiết kế cổ điển nhưng vẫn mang phong cách
                hiện đại.
            </p>
        </td>
        <td class="anhcottrai"><img src="~/HinhAnh/OLYM PIANUS OP2474DLK-T.png" alt=""></td>
    </tr>
</table>


