@model IEnumerable<WebDongHoMVC.ViewModel.DonghoNamViewModel>

@{
    ViewBag.Title = "SanPhamUser";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="slider">
    <div class="slider">
        <div class="Slider_image">
            <img class="sliderImg" src="https://www.watchstore.vn/images/slideshow/2024/05/17/compress/banner-xu-huong-dong-ho-2024-pc_1715942187.webp" alt="">

        </div>
    </div>
</div>

<div class="sanpham">
    <div class="spmoi">
        <h2>CHỌN ĐỒNG HỒ PHÙ HỢP</h2>
        <p>Chuyên cung cấp đa dạng các mẫu đồng hồ phong cách khác nhau</p>
    </div>

    <div class="sp row">
        @foreach (var item in Model)
        {
            <div class="anhsp col-md-4">
                <div>
                    <a href="@Url.Action("ChiTiet", "SanPhamUser", new { maSP = item.MaSanPham })" title="Xem chi tiết">
                        <img src="~/HinhAnh/@item.HinhAnh" alt="@item.TenSanPham">
                    </a>
                </div>
                <h4>@item.TenSanPham</h4>
                <div>
                    Giá bán:<strong>
                        @Html.FormatValue(item.Gia, "{0:#,###}")VNĐ
                    </strong>
                </div>
            </div>
        }
    </div>
</div>